.searchbar{
    position: relative;
    display: inline-block
    
 
}

.data{
    float: left;
    position: relative;

}

.searchResult{
    border: 2px solid black;
    height: 50px;
    width: inherit
}